#search-row {
    margin-top: 15px;
}

#search-button {
    float: left;
    margin-left: 0;
    padding-left: 0;
}

#search-button-col {
    float: left;
    margin-left: 0;
    padding-left: 0;
}

#gifs-div {
    padding: auto;
}

.gif {
    max-height: 300px;
    max-width: 300px;
    padding: 10px; 
    margin: 10px;
}