#search-row {
    margin-top: 15px;
}

#search-button {
    float: left;
    margin-left: 0;
    padding-left: 0;
}

#search-button-col {
    float: left;
    margin-left: 0;
    padding-left: 0;
}

#gifs-div {
    padding: auto;
    margin: auto;
}

.gif {
    max-height: 260px;
    max-width: 260px;
    padding: 5px; 
    margin: 5px;
}

.gif-div {
    float: left;
    max-height: 280px;
    max-width: 280px;
    padding: 5px;
    margin: 15px;
}

p {
    padding: auto;
    margin: auto;
}



